@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,900;1,18..144,87..112,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "null";

.ibg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}

a {
    color: inherit;
}

//------------------------------------------------

//------------------------------------------------


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

main {
    flex: 1 1 auto;
}

[class*='__container'] {
    max-width: 52.5rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

// ---------------------------------------------
body {
    font-family: "Rubik", sans-serif;
    font-size: 0.875rem;
    color: #646d70;
}

.title {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 1.875rem;
    color: white;
    line-height: 130%;
}

//----------------------------____________________

.header {
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 0;
    left: 0;
}

.header__container {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    min-height: 6.5625rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;

    @media (max-width:48em) {
        min-height: 70px;
    }
}

.logo {
    position: relative;
    z-index: 5;
    overflow: hidden;

    img {
        width: 8.4375rem;
    }

    @media (max-width:39.0625em) {
        width: 2.0625rem;
        flex: 0 0 2.0625rem;
    }
}

.header-body {
    display: flex;
    align-items: center;
    column-gap: 2.6875rem;
}

.header-menu {}

.header-list {
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

.header-link {
    font-weight: 500;
    font-size: 0.75rem;
    color: white;
    transition: color 0.3s ease;

    &:hover {
        color: #e4e3e3;
        text-decoration: underline;
    }
}

.header-button {
    position: relative;
    z-index: 5;

    @media (max-width:48em) {
        margin-right: 3.125rem;
    }
}

.button {
    display: inline-flex;
    font-weight: 500;
    font-size: 12px;
    color: #606b74;
    padding: 0.625rem 1.3438rem;
    background-color: white;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        color: #fff;
        background-color: #333;
    }

    @media (max-width:48em) {
        padding: 0.625rem 0.9375rem;
    }
}


@import "burger";
//-------------------------------------------

.main {
    position: relative;
    z-index: 49;
}

.page__main {

    position: relative;
    display: flex;
    min-height: 100vh;
}

.page__container {
    padding-top: 5.625rem;
    padding-bottom: 3.125rem;
    position: relative;
    z-index: 2;
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    align-content: center;
    gap: 20px;

    @media (min-width: 43.75em) {
        grid-template-columns: 54.320988% 1fr;
    }
}

.page-contect {}

.page-lable {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 0.75rem;
}

.page-title {}

.page-video-link {
    justify-self: center;
    font-weight: 500;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: #fff;

    &::before {
        content: '';
        background: url('..//img/main/play.svg') left no-repeat;
        width: 2rem;
        height: 2rem;
        flex: 0 0 32px;
        border-radius: 50%;
    }

    @media (max-width:48em) {
        justify-self: start;
    }
}

.main-section__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width:48em) {
            opacity: 0.6;
        }
    }

}

//----------------------------------------------
.materials {
    position: relative;
    z-index: 2;

    @media (min-width:48em) {
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 38.3%;
            /* 383/1000 */
            background-color: #222f33;
            height: 8.75rem;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 61.7%;
            /* 383/1000 */
            background-color: #fff;
            height: 2.3125rem;
            transform: translate(0, -100%);
        }
    }
}

.materials__container {
    // display: grid;
    // grid-template-columns: repeat(2,1fr);
    // gap: 1.25rem;
    display: flex;
    gap: 4.6875rem;
    position: relative;
    z-index: 2;

    //padding-bottom: 1.25rem;
    @media (max-width:48em) {
        display: block;
        margin-bottom: 20px;
    }

}

.materials-content {
    flex: 1 1 49.382716%;
    /* 400/810 */
    padding-top: 1.5625rem;
    @media (max-width:48em) {
        margin-bottom: 20px;
    }

}

.materials-title {
    color: black;
    margin-bottom: 0.8125rem;

    @media (max-width:48em) {
        font-size: 1.5rem;
    }
}

.materials-text {
    line-height: 186%;
    margin-bottom: 0.8125rem;
}

.materials-button {
    display: inline-flex;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.625rem 0.9375rem;
    border: 1px solid #646d70;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: #646d70;
        color: white;
    }
}

.materials-slider {
    max-width: 20.3125rem;
    justify-self: flex-end;
    flex: 1 1 40.123457%;
    /* 325/810 */
    position: relative;
    top: -4.75rem;

    @media (max-width:48em) {
        top: 0;
        flex: 1 1 auto;
        max-width: 100%;
    }
}

.materials-slider-wrapper {}

.materials-slider-slide {
    aspect-ratio: 325 /366;

    // height: 22.875rem;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.swiper-slide {}

.materials-pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    padding: 0 0.3125rem 1rem 0.3125rem;
}

.swiper-pagination-bullet {
    flex: 0 0 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}



.inovate {
    background-color: #222f33;
    padding: 4.375rem 0 5rem 0;

    @media (max-width:48em) {
        padding: 1.875rem 0;
    }
}

.inovate__container {}

.inovate-title {
    margin-bottom: 0.5rem;
}

.inovate-text {
    columns: 2 15.625rem;
    gap: 2.6875rem;
    line-height: 171%;
    color: white;

    @media (max-width:48em) {
        p {
            margin-bottom: 15px;
        }
    }
}



.info {
    padding: 5.3125rem 0;

    @media (max-width:48em) {
        padding: 2.5rem 0;
    }
}

.info__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.6875rem;
    row-gap: 1.875rem;

    @media (max-width:52.5em) {
        column-gap: 1.5625rem;
    }

    @media (max-width:47.9988em) {
        grid-template-columns: auto;
    }
}

.info-image {
    text-align: center;

    img {
        max-width: 100%;
    }

    @media (max-width:47.9988em) {
        order: 2;
    }
}

.info-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.75rem;
    row-gap: 2.3125rem;

    @media (max-width:52.5em) {
        column-gap: 1.25rem;
    }

    @media (max-width:47.9988em) {
        order: 1;
    }
}

.info-item {}

.info-title {
    color: #222f33;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 0.25rem;
}

.info-text {
    color: #646d70;
    font-size: 12px;
    line-height: 183%;
    opacity: 0.7;
}


.footer {
    background-color: #222f33;
    padding: 2.0625rem 0;

    @media (max-width:37.5em) {
        padding: 1.25rem 0;
    }
}

.footer__container {
    max-width: 56.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @media (max-width:37.5em) {
        flex-direction: column;
    }
}

.footer-mail {
    font-weight: 500;
    font-size: 0.75rem;
    color: #fff;
    opacity: 0.6;

    &:hover {
        text-decoration: underline;
    }
}

.footer-logo {}

.footer-list {
    display: flex;
    column-gap: 1.875rem;
}

.footer-link {
    font-size: 0.75rem;
    font-weight: 500;
    color: #fff;
    opacity: 0.6;

    &:hover {
        text-decoration: underline;
    }
}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.scroll {
    background-color: rgba(0, 0, 0, .7);
}